<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>ARaynorDesign Template</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
  </script> 
</head>

<body>
  <div id="main">

	<div id="menubar">
	  <div id="welcome">
	    <h1><a style=" font-family: 'Monotype Corsiva';font-size:50px"> Bienvenue </a></h1>
	  </div><!--close welcome-->
      <div id="menu_items">
	    <ul id="menu">
          <li><a href="finalUserIntro.html" style=" font-family: 'Monotype Corsiva'; font-size:25px">Port d'Alger</a></li>
          <li><a href="#" style=" font-family: 'Monotype Corsiva'; font-size:25px">Direction Capitainerie</a></li>
        </ul>
      </div><!--close menu-->
    </div><!--close menubar-->	
    
	<div id="site_content">		

	  <div id="banner_image">
	    <div id="slider-wrapper">        
          <div id="slider" class="nivoSlider">
            <img src="images/home_1.jpg" alt="" />
            <img src="images/home_2.jpg" alt="" />
			<img src="images/home_3.jpg" alt="" />
		  </div><!--close slider-->
		</div><!--close slider_wrapper-->
	  </div><!--close banner_image-->	

	  <div class="sidebar_container">       
		<div class="sidebar">
          <div class="sidebar_item">
            <h2 style="color:#1a1a19 ;font-family: 'Monotype Corsiva'; font-size:25px;"> Application BI</h2>
            <p  style="color:#006243 ;font-family: 'Monotype Corsiva'; font-size:20px;"> Bienvenue sur votre application business intelligence</p>
			<img src="EPAL/alg.jpg" alt=""  style=' box-shadow: 0px 10px  20px #000; border-radius: 20px;'/>
			<img src="EPAL/portnuit.jpg" alt="" style=' box-shadow: 0px 10px  20px #000; border-radius: 20px;'/>
			<img src="EPAL/epa.jpg" alt="" style=' box-shadow: 0px 10px  20px #000; border-radius: 20px;'/>
			
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->     		
		<div class="sidebar">
          <div class="sidebar_item">       
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
		<div class="sidebar">
          <div class="sidebar_item">
                   
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->  		
      </div><!--close sidebar_container-->		  
	 
	  <div id="content">
        <div class="it">
		  <h1 style="color:#d41919; font-family: 'Monotype Corsiva';">Direction Capitainerie</h1> 
	      <p> La capitainerie , epine dorsale du port, est chargée de la sécurité portuaire et de la bonne régulation des mouvements des navires <br>
              Le commandant du port , au plus haut de la hiérarchie des officiers, est responsable de la sécurité à l'interieur du domaine portuaire .Il coordonne et dirige les activités de pilotage, amarrage et accostage</p>	  
		  <div class="content_container">
		    <p style="color: #929121"> Son role est <br> </p>
			 <p>  *Organisation de l'accueil des navires <br>
			    *Gestion des mouvements de navire dans le port <br>
				*Attribution des emplacements pour les navires <br>
				*Surveillance des plan d'eau et chenaux <br>
				*Surveillance et conservation des installations portuaires</p>
		  	<div class="button_small">
		      <a href="https://fr.wikipedia.org/wiki/Capitainerie_(port)">Read more</a>
		    </div><!--close button_small-->
		  </div><!--close content_container-->
          <div class="content_container">
		           
		  		  
		  </div><!--close content_container-->		
		  <div class="cont_container">
		    <p style="color: #d46e39;font-family: 'Monotype Corsiva';"> Le service de la capitainerie forme le maillon essenciel pour la fluidité du trafic maritime et l'accueil des navires dans le port</p>
		  	<div class="button_small">
		      <a href="https://fr.wikipedia.org/wiki/Capitainerie_(port)">Read more</a>
		    </div><!--close button_small-->
		  </div><!--close content_container-->
          <div class="cont_container">
		           
		  		  
		  </div><!--close content_container-->			  
		</div><!--close content_item-->
      </div><!--close content-->   
	
	  <div id="content_beige">
	    <div class="content_beige_container_box">
		  <h4 style="font-size:20px;"> Ports du monde</h4>
	      <p style="color:#e0e0c6;font-size:15px;"> Consulter les ports du monde </p>
		  <div class="readmore">
		    <a href="https://fr.wikipedia.org/wiki/Cat%C3%A9gorie:Liste_de_ports"> ici</a>
		  </div><!--close readmore-->
	    </div><!--close content_beige_container_box-->
        <div class="content_beige_container_box">
         <h4 style="font-size:20px;">Actualité maritime</h4>
	      <p style="color:#e0e0c6; font-size:15px;">Suivre l'actualité maritime</p>
	      <div class="readmore">
		    <a href="href="https://actumaritime.com/"> ici</a>
		  </div><!--close readmore-->
	    </div><!--close content_beige_container_box-->
        <div class="content_beige_container_boxl">
		  <h4 style="font-size:20px;">Commerce maritime mondial</h4>
	      <p style="color:#e0e0c6; font-size:15px;"> information sur le commerce maritime </p>
	      <div class="readmore">
		    <a href="https://info.arte.tv/fr/le-commerce-maritime-mondial-infographies"> ici </a>
		  </div><!--close readmore-->	  
	    </div><!--close content_beige_container_box1-->      
	    <br style="clear:both"/>
      </div><!--close content_beige--> 	
	</div><!--close site_content--> 
  
  </div><!--close main-->
  
  <div id="footer">
	  <a href="http://www.portalger.com.dz/" style="font-size:15px;color:#8a1800;">Site Port Alger</a> | <a href="https://www.google.dz/search?q=images+port+d%27alger&biw=1366&bih=654&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjtiLCi8dHbAhVH-qwKHfnSBvMQ_AUICigB" style="font-size:15px; color:#8a1800;">Images</a> | <a href="http://seme.cer.free.fr/plaisance/pavillons-bateaux.php" style="font-size:15px; color:#8a1800;"> Pavillons </a>| <a href="https://fr.wikipedia.org/wiki/Liste_des_types_de_navires" style="font-size:15px;color:#8a1800;">Type Navire</a>
  </div><!--close footer-->  
  
</body>
</html>
